body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  padding: 10px;
}

.link-list {
  display: inline-block;
}
th {
  text-align: left;
}
td {
  padding: 0 2rem;
  overflow-x: hidden;
}
tr:hover {
  background-color: #f2f2f2;
}
button {
  cursor: pointer;
}